main {
  background-color: $black;
  
  .main-about {
    align-items: center;
    background-color: $black;
    color: $black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* display: none; */

    .about {
      align-items: center;
      background-color: $grey;
      display: flex;
      flex-direction: column;
      font-family: $roboto;
      font-size: 24px;
      height: 55%;
      width: 100%;

      h2 {
        font-family: $libre-basker;
        font-size: 32px;
        margin-top: 16px;
      }

      p {
        text-align: left;
        margin-top: 24px;
        padding: 24px 0;
        width: 80%;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .skills {
      border-radius: 8px;
      align-items: center;
      background-color: $black;
      color: $grey;
      display: flex;
      flex-direction: column;
      font-family: $roboto;
      font-size: 24px;
      height: 45%;
      margin: 24px 0;
      width: 100%;

      h2 {
        font-family: $libre-basker;
        font-size: 32px;
        margin-top: 24px;
      }

      .skills-images {
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;
        max-width: 398px;
        justify-content: center;
        width: 95%;
        flex-basis: 100px;

        img {
          width: 100px;
          padding: 8px;
        }
      }
    }
  }

  .divider {
    border: 1px solid hsla(0, 0%, 90%, 0.4);
    width: 90%;
    margin: 0 auto;
    height: 1px;
    display: block;
    /* display: none; */
  }

  .main-projects {
    min-height: 100vh;
    padding: 16px 0;

    h2 {
      color: $grey;
      font-size: 48px;
      font-family: $libre-basker;
      padding: 22px 0;
      text-align: center;
    }

    .project-list {
      display: flex;
      flex-wrap: wrap;

      li {
        background-color: $grey;
        margin: 28px auto;
        max-width: 361px;
        width: 85%;

        a {
          text-decoration: none;
          width: auto;
          height: auto;

          img {
            border: none;
            height: 170px;
            object-fit: cover;
            object-position: center;
            opacity: 0.8;
            width: 100%;
          }

          p {
            color: $black;
            font-family: $roboto;
            font-size: 20px;
            font-weight: 800;
            margin: 16px 0;
            padding: 0 8px;
            text-align: left;
          }
        }

        .links-container {
          padding: 8px;
          a {
            i {
              color: $black;
              padding: 8px 16px;
              font-size: 24px;
              background-color: $light-yellow;
            }
          }
        }
      }
    }

    p {
      text-align: center;
      color: $grey;
      font-family: $roboto;
      font-size: 18px;
      font-weight: 500;
      margin: 24px auto;
      width: 80%;

      a {
        color: $light-yellow;
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  main {
    background-color: $black;

    .divider {
      display: none;
    }

    .main-about {
      align-items: flex-start;
      background-color: $black;
      color: $black;
      display: flex;
      flex-direction: row;
      min-height: none;
      height: 100vh;

      .about {
        align-items: center;
        background-color: $grey;
        display: flex;
        flex-direction: column;
        font-family: $roboto;
        font-size: 24px;
        height: 100%;
        justify-content: center;
        width: 50%;
        /* padding-top: 10rem; */

        h2 {
          font-family: $libre-basker;
          font-size: 32px;
          margin-top: 16px;
        }

        p {
          text-align: left;
          margin-top: 24px;
          padding: 24px 0;
          width: 80%;
          font-size: 22px;
          font-weight: 500;
        }
      }

      .skills {
        border-radius: 8px;
        align-items: center;
        background-color: $black;
        color: $grey;
        display: flex;
        flex-direction: column;
        font-family: $roboto;
        font-size: 24px;
        height: 100%;
        justify-content: center;
        margin: 0;
        /* padding-top: 10rem; */
        width: 50%;

        h2 {
          font-family: $libre-basker;
          font-size: 32px;
          margin-top: 24px;
        }

        .skills-images {
          display: flex;
          flex-wrap: wrap;
          margin-top: 24px;
          max-width: 398px;
          justify-content: center;
          width: 95%;
          flex-basis: 100px;

          img {
            width: 130px;
            padding: 16px;
          }
        }
      }
    }

    .main-projects {
      min-height: 100vh;
      padding: 16px 0;
  
      h2 {
        color: $grey;
        font-size: 48px;
        font-family: $libre-basker;
        padding: 22px 0;
        text-align: center;
      }
  
      .project-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* flex: 1 0 21%; */
        width: 91%;
        margin: 0 auto;

        li {
          background-color: $grey;
          margin: 28px 28px;
          max-width: 361px;
          width: 85%;
  
          a {
            text-decoration: none;
            width: auto;
            height: auto;
  
            img {
              border: none;
              height: 170px;
              object-fit: cover;
              object-position: center;
              opacity: 0.8;
              width: 100%;
            }
  
            p {
              color: $black;
              font-family: $roboto;
              font-size: 20px;
              font-weight: 800;
              margin: 16px 0;
              padding: 0 8px;
              text-align: left;
            }
          }
  
          .links-container {
            padding: 8px;
            a {
              i {
                color: $black;
                padding: 8px 16px;
                font-size: 24px;
                background-color: $light-yellow;
              }
            }
          }
        }
      }
  
      p {
        text-align: center;
        color: $grey;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 500;
        margin: 24px auto;
        width: fit-content;
  
        a {
          color: $light-yellow;
          font-size: 18px;
        }
      }
    }
  }
}
