main {
  background-color: $grey;
  color: $black;
  font-weight: 800;

  .main-about {
    h2 {
      font-size: 40px;
      font-family: $font-title;
      margin-bottom: 32px;
      padding-top: 32px;
      text-align: center;
    }

    .main-about-me {
      align-items: center;
      display: flex;
      flex-direction: column;

      img {
        border-radius: 100%;
        object-fit: contain;
        max-width: 240px;
        width: 70%;
      }

      p {
        font-family: $font-text;
        font-size: 20px;
        font-weight: inherit;
        margin: 32px 0;
        max-width: 382px;
        width: 90%;
      }
    }

    .main-skills {
      align-items: center;
      background-color: $black;
      display: flex;
      flex-direction: column;

      h3 {
        color: $grey;
        font-family: $font-title;
        font-size: 32px;
        margin: 32px 0;
      }

      .skills-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin-bottom: 32px;
        max-width: 375px;

        img {
          padding: 8px;
          width: 100px;
        }
      }
    }
  }

  .main-projects {
    padding: 16px 0;

    h2 {
      font-size: 48px;
      font-family: $font-title;
      padding: 22px 0;
      text-align: center;
    }

    .project-list {
      display: flex;
      flex-wrap: wrap;

      li {
        background-color: $light-black;
        margin: 28px auto;
        max-width: 361px;
        width: 85%;
        list-style: none;

        a {
          text-decoration: none;
          width: auto;
          height: auto;

          img {
            border: none;
            height: 170px;
            object-fit: cover;
            object-position: center;
            opacity: 0.8;
            width: 100%;
          }

          p {
            color: $grey;
            font-family: $font-text;
            font-size: 20px;
            font-weight: 800;
            margin: 16px 0;
            padding: 0 8px;
            text-align: left;
          }
        }

        .links-container {
          padding: 8px;
          a {
            i {
              background-color: $light-yellow;
              color: $light-black;
              font-size: 24px;
              padding: 8px 16px;
            }

            &:hover i {
              background-color: $light-black;
              color: $light-yellow;
              transition-duration: 0.5s;
            }
          }
        }
      }
    }

    p {
      font-family: $font-text;
      font-size: 18px;
      font-weight: inherit;
      margin: 24px auto;
      text-align: center;
      width: 80%;

      a {
        color: $black;
        font-size: 18px;

        &:hover{
          color: $light-yellow;
          transition-duration: .5s;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  main {
    .main-about {
      padding-top: 80px;
      position: relative;

      h2 {
        font-size: 48px;
        left: 50%;
        padding: 16px 0;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
      }

      .main-about-me {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 90%;
        
        img {
          width: 30%;
          max-width: 350px;
          margin: 0 48px;
        }

        p {
          font-size: 24px;
          margin: 32px 16px;
          text-align: left;
          max-width: 920px;
        }
      }

      .main-skills {
        border-radius: none;
        margin: 16px auto;
        width: 100%;

        h3 {
          font-size: 40px;
        }

        .skills-images {
          width: 100%;
          margin: 32px 0;
          max-width: none;

          img {
            margin: 0 16px;
            width: 120px;
          }
        }
      }
    }

    .main-projects {
      min-height: 100vh;

      .project-list {
        justify-content: center;
        width: 91%;
        margin: 0 auto;

        li {
          margin: 28px 28px;
        }
      }

      p {
        width: fit-content;
      }
    }
  }
}
